body {
  background-image: url(staticImages/travelFlight.jpg);
  background-size: contain;
}

body{
cursor:url(staticImages/plane2.png), auto;
}

.upper-line {
  background-image: url(staticImages/bannerTravel.jpg);
  background-size: contain;
  max-width: auto;
  height: 250px;
  background-color: black;
}

h1 {
  margin: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6,
h4 {
  font-style: normal;
}


.card {
  text-align: center;
  margin: 60px 3px 3px 3px;
  border: 2px solid black;
}

.card>img {
  height: 400px;
  width: 580px;
}

.middle {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-line {
  justify-content: center;
  align-content: center;
  text-align: center;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}


.add-data-line {
  text-align: center;
  justify-content: center;
}

#inner-new-data-container {
  text-align: left;
}


.rating-button {
  display: inline-block;
  transform: scale(1.1);
}

.rating-button:hover {
  transform: scale(2);
  transition: all 0.5s;
  cursor: url(../js/staticImages/planeicon.png), auto !important;
}

span {
  cursor: url('staticImages/planeicon.png'), auto;
}
